<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat That Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		<img src="/assets/imgs/burger2.png" alt="burger picture" width="120xpx" position=>
		{{{ body }}}
	</body>
</html>